[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
ExecStart=/local/kafka/kafka/bin/zookeeper-server-start.sh /local/kafka/kafka/config/zookeeper.properties
ExecStop=/local/kafka/kafka/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target